@font-face {
  font-family: 'Cuprum-Bold';
  src: url("../fonts/Cuprum-Bold.eot");
  src: url("../fonts/Cuprum-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Cuprum-Bold.woff") format("woff"), url("../fonts/Cuprum-Bold.woff2") format("woff2"), url("../fonts/Cuprum-Bold.ttf") format("truetype"), url("../fonts/Cuprum-Bold.svg#/fonts/Cuprum-Bold") format("svg"); }

@font-face {
  font-family: 'Cuprum-BoldItalic';
  src: url("../fonts/Cuprum-BoldItalic.eot");
  src: url("../fonts/Cuprum-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Cuprum-BoldItalic.woff") format("woff"), url("../fonts/Cuprum-BoldItalic.woff2") format("woff2"), url("../fonts/Cuprum-BoldItalic.ttf") format("truetype"), url("../fonts/Cuprum-BoldItalic.svg#/fonts/Cuprum-BoldItalic") format("svg"); }

@font-face {
  font-family: 'Cuprum-Italic';
  src: url("../fonts/Cuprum-Italic.eot");
  src: url("../fonts/Cuprum-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Cuprum-Italic.woff") format("woff"), url("../fonts/Cuprum-Italic.woff2") format("woff2"), url("../fonts/Cuprum-Italic.ttf") format("truetype"), url("../fonts/Cuprum-Italic.svg#/fonts/Cuprum-Italic") format("svg"); }

@font-face {
  font-family: 'Cuprum-Regular';
  src: url("../fonts/Cuprum-Regular.eot");
  src: url("../fonts/Cuprum-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Cuprum-Regular.woff") format("woff"), url("../fonts/Cuprum-Regular.woff2") format("woff2"), url("../fonts/Cuprum-Regular.ttf") format("truetype"), url("../fonts/Cuprum-Regular.svg#/fonts/Cuprum-Regular") format("svg"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: "Cuprum-Regular", sans-serif;
  overflow-x: hidden;
  opacity: 1;
  height: auto;
  color: #ffffff; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0; }

body:not(.modal-open) {
  padding-right: 0 !important; }

.has-error input, .has-error textarea {
  border: 1px solid red; }

input, textarea {
  outline: none; }

textarea {
  resize: none; }

a {
  text-decoration: none;
  outline: none;
  color: #fff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
    color: #fff; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

button {
  outline: none;
  background: transparent; }
  button:hover, button:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.top {
  position: fixed;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  text-align: center;
  background-color: #90d23d;
  z-index: 5;
  opacity: .4;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  border: 1px solid #fff;
  font-size: 20px;
  color: #ffffff;
  line-height: 34px;
  right: -100px;
  bottom: 10px; }
  .top:hover {
    opacity: 1; }
  .top.active {
    right: 10px; }

.effect-5 {
  overflow: hidden;
  position: relative; }
  .effect-5::before, .effect-5::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: #90d23d;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease; }
  .effect-5::before {
    width: 100%;
    height: 2px;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%); }
  .effect-5::after {
    width: 2px;
    height: 100%;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%); }
  .effect-5:hover::before, .effect-5:hover::after {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%); }
  .effect-5:hover .catalog-item-hover::before {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%); }
  .effect-5:hover .catalog-item-hover::after {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%); }

.dop {
  height: 80px;
  position: absolute;
  top: 0; }
  .dop.fixed {
    position: static; }

.header {
  padding: 20px 0;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  margin-bottom: 40px; }
  .header.fixed {
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; }
  .header .logo {
    display: block; }
  .header .head-menu > nav > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header .head-menu > nav > ul > li {
      margin: 0 6px; }
      .header .head-menu > nav > ul > li:first-child {
        margin-left: 0; }
      .header .head-menu > nav > ul > li:last-child {
        margin-right: 0; }
      .header .head-menu > nav > ul > li > a {
        display: block;
        font-size: 18px;
        position: relative;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        padding: 6px 0;
        overflow: hidden;
        line-height: normal; }
        .header .head-menu > nav > ul > li > a::before {
          content: '';
          position: absolute;
          height: 1px;
          width: 100%;
          bottom: 4px;
          left: 0;
          background-color: #ffffff;
          -webkit-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease;
          -webkit-transform: translateX(100%);
              -ms-transform: translateX(100%);
                  transform: translateX(100%); }
        .header .head-menu > nav > ul > li > a:hover {
          color: #90d23d; }
          .header .head-menu > nav > ul > li > a:hover::before {
            -webkit-transform: translateX(0%);
                -ms-transform: translateX(0%);
                    transform: translateX(0%);
            background-color: #90d23d; }
  .header .head-phone {
    display: block;
    font-size: 20px;
    font-family: 'Cuprum-Bold', sans-serif;
    line-height: 18px; }
  .header .head-dos {
    font-size: 14px;
    line-height: normal;
    color: #ffffff;
    font-family: 'Cuprum-Italic', sans-serif; }
    .header .head-dos span {
      font-family: 'Cuprum-BoldItalic', sans-serif;
      text-transform: uppercase; }
  .header .search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden; }
    .header .search-icon {
      background-color: #ffffff;
      color: #000000;
      -webkit-border-radius: 100%;
              border-radius: 100%;
      width: 40px;
      height: 40px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative;
      cursor: pointer; }
      .header .search-icon::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: 2px solid #000;
        -webkit-border-radius: 100%;
                border-radius: 100%; }
      .header .search-icon::after {
        content: '';
        position: absolute;
        bottom: 10px;
        right: 8px;
        background-color: #000000;
        height: 2px;
        width: 4px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
    .header .search .inp-search {
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      width: 100%;
      -webkit-transform: scaleX(0) translateX(0%);
          -ms-transform: scaleX(0) translateX(0%);
              transform: scaleX(0) translateX(0%);
      -webkit-transform-origin: right center;
          -ms-transform-origin: right center;
              transform-origin: right center;
      opacity: 0;
      visibility: hidden;
      margin-right: -30px;
      padding: 0 25px;
      -webkit-border-top-left-radius: 50px;
              border-top-left-radius: 50px;
      -webkit-border-bottom-left-radius: 50px;
              border-bottom-left-radius: 50px;
      -webkit-border-top-right-radius: 50px;
              border-top-right-radius: 50px;
      -webkit-border-bottom-right-radius: 50px;
              border-bottom-right-radius: 50px;
      border: none; }
    .header .search:hover .inp-search, .header .search.active .inp-search {
      margin-right: -40px;
      -webkit-transform: scaleX(1) translateX(0%);
          -ms-transform: scaleX(1) translateX(0%);
              transform: scaleX(1) translateX(0%);
      opacity: 1;
      visibility: visible; }

.wrap-head {
  padding: 40px 0; }
  .wrap-head .title-head {
    line-height: normal;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .wrap-head .text-head {
    font-size: 26px;
    line-height: normal; }

.section-one {
  padding: 0 0 50px;
  background-color: #394b5f;
  opacity: .85;
  min-height: 400px; }
  .section-one .sect-one-text {
    color: #ffffff;
    line-height: normal;
    font-size: 22px; }

.modal-tovar .modal-content {
  background-color: transparent;
  border: none; }
  .modal-tovar .modal-content .closess {
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    font-size: 30px;
    line-height: normal;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .modal-tovar .modal-content .closess:hover {
      color: #90d23d; }

.modal-tovar .modal-dialog {
  width: 18%; }

.form-call {
  border: 1px solid #e9e9e9;
  background-color: #fff;
  padding: 30px;
  border-bottom: 3px solid #90d23d;
  color: #97a4b2; }
  .form-call-title {
    color: #000;
    font-family: 'Cuprum-Bold', sans-serif;
    font-size: 26px;
    line-height: normal;
    text-align: center; }
  .form-call-text {
    font-size: 18px;
    line-height: normal;
    margin: 20px 0; }
  .form-call .input-title {
    color: #778390;
    margin-bottom: 4px;
    line-height: normal;
    font-size: 18px;
    font-family: 'Cuprum-Bold', sans-serif; }
  .form-call .input-nal {
    -webkit-border-radius: 10px;
            border-radius: 10px;
    width: 100%;
    text-indent: 12px;
    padding: 8px 0;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    margin-bottom: 20px;
    color: #1f2436;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    position: relative;
    display: block;
    -webkit-box-shadow: 0 -2px #e9e9e9;
            box-shadow: 0 -2px #e9e9e9;
    font-size: 20px; }
    .form-call .input-nal:focus {
      -webkit-box-shadow: 0 -4px #90d23d;
              box-shadow: 0 -4px #90d23d;
      border-color: #90d23d; }

.btn-all {
  border: none;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 50px;
  padding: 4px 0;
  font-size: 22px;
  font-family: 'Cuprum-Bold', sans-serif;
  cursor: pointer;
  position: relative;
  z-index: 0;
  color: #fff;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  background-color: #90d23d;
  -webkit-border-radius: 10px;
          border-radius: 10px; }
  .btn-all::before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #76b329;
    z-index: -1;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%); }
  .btn-all:hover {
    color: #ffffff; }
    .btn-all:hover::before {
      bottom: 0;
      -webkit-transform: translateY(0%);
          -ms-transform: translateY(0%);
              transform: translateY(0%); }

.section-two {
  padding: 50px 0;
  position: relative; }
  .section-two::before {
    top: -170px;
    -webkit-clip-path: polygon(100% 20%, -20% 100%, 100% 100%);
            clip-path: polygon(100% 20%, -20% 100%, 100% 100%); }
  .section-two::after {
    bottom: -140px;
    -webkit-clip-path: polygon(100% 20%, 0% 0, 0 100%);
            clip-path: polygon(100% 20%, 0% 0, 0 100%); }
  .section-two::before, .section-two::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #ffffff;
    z-index: 1; }
  .section-two .catalog-item {
    min-height: 280px;
    overflow: hidden;
    width: 90%;
    margin: 0 auto 20px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: 3px 3px 30px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 3px 3px 30px 1px rgba(0, 0, 0, 0.3);
    position: relative; }
    .section-two .catalog-item-hover {
      padding: 20px;
      position: relative; }
      .section-two .catalog-item-hover::before, .section-two .catalog-item-hover::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background-color: #90d23d;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease; }
      .section-two .catalog-item-hover::before {
        height: 100%;
        width: 2px;
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%); }
      .section-two .catalog-item-hover::after {
        width: 100%;
        height: 2px;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%); }
    .section-two .catalog-item-img {
      background-color: #ffffff;
      margin: -20px -20px 20px -20px;
      height: 230px;
      padding: 20px;
      cursor: pointer;
      position: relative; }
      .section-two .catalog-item-img::before, .section-two .catalog-item-img::after {
        content: '';
        position: absolute;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        bottom: 10px;
        opacity: 0; }
      .section-two .catalog-item-img::before {
        width: 10px;
        height: 10px;
        border: 2px solid #000;
        -webkit-border-radius: 100%;
                border-radius: 100%;
        left: 10px; }
      .section-two .catalog-item-img::after {
        width: 5px;
        height: 2px;
        background-color: #000000;
        left: 16px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .section-two .catalog-item-img:hover::before, .section-two .catalog-item-img:hover::after {
        opacity: 1; }
      .section-two .catalog-item-img .img-responsive {
        height: 100%;
        margin: 0 auto; }
    .section-two .catalog-item .price {
      font-size: 20px;
      font-family: 'Cuprum-Bold', sans-serif;
      margin-top: 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 20px; }
      .section-two .catalog-item .price-span {
        display: none;
        margin: 0 0 0 20px;
        position: relative; }
        .section-two .catalog-item .price-span.active {
          display: block; }
        .section-two .catalog-item .price-span-old {
          position: absolute;
          top: 0;
          color: #d4310d;
          right: -70px; }
          .section-two .catalog-item .price-span-old::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            top: 10px;
            background-color: #d4310d; }
    .section-two .catalog-item .name {
      font-size: 18px;
      text-transform: uppercase; }
      .section-two .catalog-item .name-info {
        text-transform: uppercase;
        color: #212121;
        font-size: 11px;
        line-height: normal;
        margin-top: 2px; }
    .section-two .catalog-item .size {
      font-size: 10px;
      color: #212121;
      text-transform: uppercase;
      font-family: 'Cuprum-Bold', sans-serif;
      margin: 20px 0 10px; }
      .section-two .catalog-item .size-ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .section-two .catalog-item .size-ul-li {
          margin: 0 10px;
          color: #212121;
          cursor: pointer;
          line-height: normal;
          font-size: 15px;
          -webkit-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease; }
          .section-two .catalog-item .size-ul-li:first-child {
            margin-left: 0; }
          .section-two .catalog-item .size-ul-li:last-child {
            margin-right: 0; }
          .section-two .catalog-item .size-ul-li.active {
            border: 1px solid #212121;
            -webkit-border-radius: 100%;
                    border-radius: 100%;
            background-color: #90d23d;
            color: #ffffff;
            width: 30px;
            height: 30px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease; }
    .section-two .catalog-item .price, .section-two .catalog-item .name {
      line-height: normal;
      color: #212121;
      -webkit-transition: all .4s ease;
      -o-transition: all .4s ease;
      transition: all .4s ease; }
    .section-two .catalog-item .btn-all {
      text-align: center;
      border: 1px solid #b0d959;
      padding: 6px 0;
      cursor: pointer;
      color: #fff;
      font-size: 18px;
      background-color: #ffffff;
      position: relative;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      overflow: hidden;
      z-index: 1;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease; }
      .section-two .catalog-item .btn-all::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        background-color: #90d23d;
        width: 100%;
        height: 100%;
        z-index: -1;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        -webkit-transform-origin: 100% 0;
            -ms-transform-origin: 100% 0;
                transform-origin: 100% 0; }
      .section-two .catalog-item .btn-all:hover {
        color: #b0d959; }
        .section-two .catalog-item .btn-all:hover::before {
          top: -10px;
          -webkit-transform: scale(0);
              -ms-transform: scale(0);
                  transform: scale(0);
          -webkit-border-radius: 50%;
                  border-radius: 50%; }

.section-three {
  padding: 50px 0;
  min-height: 600px;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  z-index: 0;
  overflow: hidden; }
  .section-three::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(26, 26, 38, 0.5);
    top: 0;
    left: 0; }

.block-akcii {
  padding: 14px 0;
  border: 3px solid #90d23d;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  color: #ffffff;
  font-family: 'Cuprum-Italic', sans-serif;
  text-align: center; }
  .block-akcii-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 66%;
    margin: 0 auto; }
    .block-akcii-top-number {
      font-size: 90px;
      line-height: normal; }
    .block-akcii-top-title {
      font-size: 30px;
      line-height: normal; }

.all-title {
  font-size: 50px;
  line-height: normal;
  text-transform: uppercase;
  font-family: 'Cuprum-Bold', sans-serif;
  position: relative;
  padding-bottom: 10px; }
  .all-title::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 8px;
    background-color: #fff;
    bottom: 0;
    left: 0; }
  .all-title.white {
    color: #ffffff; }
  .all-title.gray {
    color: #778390; }
    .all-title.gray::before {
      background-color: #778390; }

.all-text {
  font-size: 30px;
  line-height: normal;
  font-family: 'Cuprum-Bold', sans-serif;
  text-align: center;
  margin: 50px 0; }
  .all-text.white {
    color: #ffffff; }
  .all-text.gray {
    color: #778390; }

.section-four {
  padding: 50px 0;
  min-height: 500px;
  position: relative;
  z-index: 0;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }
  .section-four::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(26, 26, 38, 0.5);
    top: 0;
    left: 0; }
  .section-four .sect-preim {
    margin-top: 60px;
    text-align: center; }
    .section-four .sect-preim .preim-item .min-h {
      min-height: 110px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .section-four .sect-preim .preim-item-title {
      font-size: 70px;
      line-height: normal;
      font-family: 'Cuprum-Bold', sans-serif; }
    .section-four .sect-preim .preim-item .img-responsive {
      fill: #fff;
      width: 100px;
      height: 100px;
      margin: 0 auto; }
      .section-four .sect-preim .preim-item .img-responsive path {
        fill: #fff; }
    .section-four .sect-preim .preim-item-text {
      margin-top: 20px;
      font-size: 22px;
      color: #ffffff;
      line-height: normal; }

.section-five {
  padding: 50px 0;
  min-height: 400px; }
  .section-five .carousel-otziv-item {
    margin: 70px 0 20px;
    text-align: center; }
    .section-five .carousel-otziv-item .img-responsive {
      width: 100px;
      height: 100px;
      -webkit-border-radius: 100%;
              border-radius: 100%;
      overflow: hidden;
      margin: 0 auto; }
    .section-five .carousel-otziv-item-text {
      line-height: normal;
      font-size: 24px;
      color: #97a4b2;
      width: 80%;
      margin: 50px auto 0; }
  .section-five .carousel-otziv .owl-dots {
    text-align: center; }
    .section-five .carousel-otziv .owl-dots .owl-dot {
      width: 12px;
      height: 12px;
      background-color: transparent;
      border: 1px solid #97a4b2;
      -webkit-border-radius: 100%;
              border-radius: 100%;
      display: inline-block;
      margin: 0 4px; }
      .section-five .carousel-otziv .owl-dots .owl-dot.active {
        background-color: #90d23d;
        border-color: #90d23d; }
  .section-five .carousel-otziv .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    .section-five .carousel-otziv .owl-nav .owl-prev, .section-five .carousel-otziv .owl-nav .owl-next {
      position: absolute;
      font-size: 24px;
      color: #97a4b2; }
    .section-five .carousel-otziv .owl-nav .owl-next {
      right: 0; }
    .section-five .carousel-otziv .owl-nav .owl-prev {
      left: 0; }

.section-six {
  padding: 50px 0;
  background-color: #394b5f;
  opacity: .85;
  min-height: 400px; }

.footer {
  padding: 30px 0;
  background-color: #90d23d;
  margin: 0; }
  .footer .foot-copy {
    line-height: normal; }
  .footer .foot-social {
    margin: 0 0 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .foot-social a {
      display: block; }
    .footer .foot-social .img-responsive {
      width: 35px;
      height: 35px;
      fill: #fff; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
