@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.75
  font-family: $fonts
  overflow-x: hidden
  opacity: 1
  height: auto
  color: #ffffff

.img-responsive
  display: block
  max-width: 100%
  height: auto

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  margin: 0

body:not(.modal-open)
  padding-right: 0 !important

.has-error
  input, textarea
    border: 1px solid red

input, textarea
  outline: none

textarea
  resize: none

a
  text-decoration: none
  outline: none
  color: #fff
  transition: .5s
  &:hover, &:active, &:focus
    outline: none
    text-decoration: none
    color: #fff

ul
  padding: 0
  margin: 0
  list-style-type: none

button
  outline: none
  background: transparent
  &:hover, &:focus
    outline: none
    box-shadow: none
//
//.top
//  position: fixed
//  width: 35px
//  height: 35px
//  border-radius: 50%
//  cursor: pointer
//  text-align: center
//  background-color: $accent
//  z-index: 5
//  opacity: .4
//  transition: all .5s ease
//  border: 1px solid #fff
//  font-size: 20px
//  color: #ffffff
//  line-height: 34px
//  right: -100px
//  bottom: 10px
//  &:hover
//    opacity: 1
//  &.active
//    right: 10px
//
.dop
  height: 80px
  position: absolute
  top: 0
  &.fixed
    position: static
.header
  padding: 20px 0
  transition: all .4s ease
  margin-bottom: 40px
  &.fixed
    padding: 10px 0
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 2
  .logo
    display: block
  .head-menu
    > nav
      > ul
        display: flex
        justify-content: space-between
        > li
          margin: 0 6px
          &:first-child
            margin-left: 0
          &:last-child
            margin-right: 0
          > a
            display: block
            font-size: 18px
            position: relative
            transition: all .3s ease
            padding: 6px 0
            overflow: hidden
            line-height: normal
            &::before
              content: ''
              position: absolute
              height: 1px
              width: 100%
              bottom: 4px
              left: 0
              background-color: #ffffff
              transition: all .3s ease
              transform: translateX(100%)
            &:hover
              &::before
                transform: translateX(0%)
  .head-phone
    display: block
    font-size: 20px
    font-family: 'Cuprum-Bold', sans-serif
  .search
    display: flex
    overflow: hidden
    &-icon
      background-color: #ffffff
      color: #000000
      border-radius: 100%
      width: 40px
      height: 40px
      display: flex
      align-items: center
      justify-content: center
      position: relative
      cursor: pointer
      &::before
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: 20px
        height: 20px
        background-color: transparent
        border: 2px solid #000
        border-radius: 100%
      &::after
        content: ''
        position: absolute
        bottom: 10px
        right: 8px
        background-color: #000000
        height: 2px
        width: 4px
        transform: rotate(45deg)
    .inp-search
      transition: all .2s ease
      width: 100%
      transform: scaleX(0) translateX(0%)
      transform-origin: right center
      opacity: 0
      visibility: hidden
      margin-right: -30px
      padding: 0 25px
      border-top-left-radius: 50px
      border-bottom-left-radius: 50px
      border-top-right-radius: 50px
      border-bottom-right-radius: 50px
      border: none
    &:hover, &.active
      .inp-search
        margin-right: -40px
        transform: scaleX(1) translateX(0%)
        opacity: 1
        visibility: visible
.section-one
  padding: 0 0 50px
  background-color: #394b5f
  opacity: .85
  min-height: 400px
  .sect-one-text
    color: #ffffff
    line-height: normal
    font-size: 22px

.modal-tovar
  .modal-content
    background-color: transparent
    border: none
    .closess
      border: none
      position: absolute
      top: 20px
      right: 20px
      z-index: 1
      font-size: 30px
      line-height: normal
      cursor: pointer
      transition: all .3s ease
      &:hover
        color: $accent
  .modal-dialog
    width: 18%

.form-call
  border: 1px solid #e9e9e9
  background-color: #fff
  //background-color: rgba(36, 51, 67, 0.8)
  padding: 30px
  border-bottom: 3px solid $accent
  color: #97a4b2
  &-title
    color: #000
    font-family: 'Cuprum-Bold', sans-serif
    font-size: 26px
    line-height: normal
    text-align: center
  &-text
    font-size: 18px
    line-height: normal
    margin: 20px 0
  .input-title
    color: #778390
    margin-bottom: 4px
    line-height: normal
    font-size: 18px
    font-family: 'Cuprum-Bold', sans-serif
  .input-nal
    border-radius: 10px
    width: 100%
    text-indent: 12px
    padding: 8px 0
    border: 1px solid #e9e9e9
    background-color: #fff
    margin-bottom: 20px
    color: #1f2436
    transition: all .5s ease
    position: relative
    display: block
    box-shadow: 0 -2px #e9e9e9
    font-size: 20px
    &:focus
      box-shadow: 0 -4px $accent
      border-color: $accent

.btn-all
  border: none
  display: block
  width: 100%
  margin: 0 auto
  text-align: center
  height: 50px
  padding: 4px 0
  font-size: 22px
  font-family: 'Cuprum-Bold', sans-serif
  cursor: pointer
  position: relative
  z-index: 0
  color: #fff
  overflow: hidden
  transition: all .5s ease
  background-color: $accent
  border-radius: 10px
  &::before
    content: ''
    position: absolute
    bottom: 10px
    left: 0
    width: 100%
    height: 100%
    background-color: darken($accent, 10%)
    z-index: -1
    transition: all .4s ease
    transform: translateY(100%)
  &:hover
    color: #ffffff
    &::before
      bottom: 0
      transform: translateY(0%)

.section-two
  //background-color: #b0d959
  padding: 50px 0 30px
  .catalog-item
    padding: 20px
    //border: 1px solid #b0d959
    min-height: 280px
    border-radius: 15px
    overflow: hidden
    width: 90%
    margin: 0 auto 20px
    transition: all .3s ease
    box-shadow: 3px 3px 30px 1px rgba(0, 0, 0, 0.3)
    position: relative
    &-img
      background-color: #ffffff
      //background: linear-gradient(135deg, #394b5f 15%, #b0d959 93%)
      margin: -20px -20px 20px -20px
      height: 230px
      padding: 20px
      .img-responsive
        height: 100%
        margin: 0 auto
    .price
      font-size: 20px
      font-family: 'Cuprum-Bold', sans-serif
      margin-top: 20px
      display: flex
      margin-bottom: 20px
      &-span
        display: none
        margin: 0 0 0 20px
        &.active
          display: block
    .name
      font-size: 18px
      text-transform: uppercase
      &-info
        text-transform: uppercase
        color: #212121
        font-size: 11px
        line-height: normal
        margin-top: 2px
    .size
      font-size: 10px
      color: #212121
      text-transform: uppercase
      font-family: 'Cuprum-Bold', sans-serif
      margin: 20px 0 10px
      &-ul
        display: flex
        align-items: center
        &-li
          margin: 0 10px
          color: #212121
          cursor: pointer
          line-height: normal
          font-size: 15px
          transition: all .3s ease
          &:first-child
            margin-left: 0
          &:last-child
            margin-right: 0
          &.active
            border: 1px solid #212121
            border-radius: 100%
            background-color: $accent
            //background: linear-gradient(135deg, #394b5f 15%, #b0d959 93%)
            color: #ffffff
            width: 30px
            height: 30px
            display: flex
            align-items: center
            justify-content: center
            transition: all .4s ease
    .price, .name
      line-height: normal
      color: #212121
      transition: all .4s ease
    .btn-all
      text-align: center
      border: 1px solid #b0d959
      padding: 6px 0
      cursor: pointer
      color: #fff
      font-size: 18px
      background-color: #ffffff
      position: relative
      border-radius: 10px
      overflow: hidden
      z-index: 1
      transition: all .2s ease
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        transform: scale(1)
        background-color: $accent
        //background: linear-gradient(135deg, #90d23d 15%, #90d23d 93%)
        width: 100%
        height: 100%
        z-index: -1
        transition: all .3s ease
        transform-origin: 100% 0
      &:hover
        color: #b0d959
        &::before
          top: -10px
          transform: scale(0)
          border-radius: 50%

.section-three
  padding: 50px 0
  min-height: 600px
  background-position: center
  background-size: cover
  position: relative
  z-index: 0
  overflow: hidden
  &::before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    z-index: -1
    background-color: rgba(26, 26, 38, 0.5)
    top: 0
    left: 0

.block-akcii
  padding: 14px 0
  border: 3px solid $accent
  border-radius: 25px
  color: #ffffff
  font-family: 'Cuprum-Italic', sans-serif
  text-align: center
  &-top
    display: flex
    justify-content: space-between
    width: 66%
    margin: 0 auto
    &-number
      font-size: 90px
      line-height: normal
    &-title
      font-size: 30px
      line-height: normal


.all-title
  font-size: 50px
  line-height: normal
  text-transform: uppercase
  font-family: 'Cuprum-Bold', sans-serif
  position: relative
  padding-bottom: 10px
  &::before
    content: ''
    position: absolute
    width: 100px
    height: 8px
    background-color: #fff
    bottom: 0
    left: 0
  &.white
    color: #ffffff
  &.gray
    color: #778390
    &::before
      background-color: #778390

.all-text
  font-size: 30px
  line-height: normal
  font-family: 'Cuprum-Bold', sans-serif
  text-align: center
  margin: 50px 0
  &.white
    color: #ffffff
  &.gray
    color: #778390


.section-four
  padding: 50px 0
  background-color: #ff4e33
  min-height: 300px
  .preim-item
    padding: 20px
    border: 2px solid #fff
    min-height: 150px
    margin-bottom: 20px
    .img, .text
      display: flex
      align-items: center
      justify-content: center
      border: 2px solid #fff
    .img
      min-height: 100px
      margin-bottom: 10px

.section-five
  padding: 50px 0 
  min-height: 300px
  background-color: #fc5871
  span
    display: flex
    align-items: center
    justify-content: center
    min-height: 200px
    border: 2px solid #fff

.section-six
  background-color: #4169e1

.footer
  padding: 30px 0
  background-color: #66b0ff
  span
    display: flex
    align-items: center
    justify-content: center


@import "media"
// Всегда в конце
